<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>I learn HTML5</title>
		
	</head>
	<body>
		<header>
			<h1>I learn HTML5</h1>
			<h2>HTML5 Rocks</h2>
		</header>
		<nav>
			<h3>Quick Link</h3>
			<a href="#">Blog</a>
			<a href="#">Museum Admin</a>
			<a href="#">Gallery</a>
		</nav>
		<section>
			<article>
				<header><h3>Article Header</h3></header>
				<canvas id="cvs1" width="100" height="100"></canvas>
				<footer><h4>Article Footer</h4></footer>
			</article>
		</section>
		<aside>
			<h3>Aside</h3>
			<p> Here is sode View</p>
			<footer><h4>Side Fooot</h4></footer>
		</aside>
	</body>
</html>