{% load media %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>HTML5</title> 
{% include_media 'main.css' %}
{% include_media 'main.js' %}
</head>
<body>
	<header>
		<h1>RC-Tech</h1>
		<h2>Gotcha!</h2>
		<h4>HTML5 Rocks!</h4>
	</header>
	<div id="container">
		<nav>
			<h3>Quick Link</h3>
			<a href="http://www.facebook.com/yeo.eugene.oey">Facebook</a> 
			<a href="http://museum-partner.blogspot.com/">Blog</a> 
			<a href="http://www.github.com/yeo-eugene-oey/museum-partner">Git</a> 
			<a href="https://plus.google.com/u/0/113393692898490384554">Google</a>
		</nav>
		<section>
			<article>
				<header>
					<h1>Technology</h1>
				</header>
				<p>This Website is using some of the notable technology. Stated below</p>
				<p>Special Thanks to:</p>
				<ul>
					<li><a href="http://www.djangoproject.com/">Django</a></li>
					<li><a href="http://www.allbuttonspressed.com/">Django-nonrel</a></li>
					<li><a href="http://appengine.google.com">Google App Engine</a></li>
					<li><a href="http://www.w3.org/html/logo/">HTML5</a></li>
				</ul>
				<footer>
					<h2>Thanks</h2>
				</footer>
			</article>
			<article>
				<header>
					<h1>RC-Tech under heavy Construction</h1>
				</header>
				<p>We are sorry that The Site is currently under Heavy Construction</p>
				<p>If you don't mind visit the site later, Thanks for coming :)</p>
				<footer>
					<h2>Regards</h2>
				</footer>
			</article>
			
		</section>
		<aside>
			<h3>Info</h3>
			<p>Site is under Construction</p>
		</aside>
		<footer>
			<h2>RC-Tech</h2>
		</footer>
	</div>
</body>

</html>