{% extends "base.html" %}
{% block content %}
			<article>
				<header>
					<h1>Technology</h1>
				</header>
				<p>This Website is using some of the notable technology. Stated below</p>
				<p>Special Thanks to:</p>
				<ul>
					<li><a href="http://www.djangoproject.com/">Django</a></li>
					<li><a href="http://www.allbuttonspressed.com/">Django-nonrel</a></li>
					<li><a href="http://appengine.google.com">Google App Engine</a></li>
					<li><a href="http://www.w3.org/html/logo/">HTML5</a></li>
				</ul>
				<footer>
					<h2>Thanks</h2>
				</footer>
			</article>
			<article>
				<header>
					<h1>RC-Tech under heavy Construction</h1>
				</header>
				<p>We are sorry that The Site is currently under Heavy Construction</p>
				<p>If you don't mind visit the site later, Thanks for coming :)</p>
				<footer>
					<h2>Regards</h2>
				</footer>
			</article>
			
{% endblock %}
{% block sidebar %}
			<h3>Info</h3>
			<p>Site is under Construction</p>
{% endblock %}